div{
    width: 50%;
    margin-left: 25%;
}
html{
    background-color: black;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align:center;
}
img{
    border: 5px solid white;
    width: 100%;
}
p{
    color: white;
    text-align: center;
}